// Import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Bootstrap Variable Overrides
$theme-colors: (
  "primary": #541f4b,
  "danger": #ff4136
);
// Other theme colors
$gray: #f5f5f5;

$body-font : 'Oswald', sans-serif;
$accent-font : 'Playfair Display', serif;

%sectionHead {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1rem;
}
section h2 {
    text-align: center;
    font-size: 3rem;
    margin-top: 5%;
    &::after {
        content: '';
        width: 50px;
        padding: 1px;
        height: 2px;
        background: #CCDBDC;
        display: block;
        margin: 1rem auto;
    }
}
.navbar-brand,
.nav-link,
 {
    font-family: $body-font;
}
.jumbotron {
    // background:
    //     linear-gradient(135deg, #036b6175 25%, transparent 25%) -50px 0, linear-gradient(225deg, #4ac3b7cc 25%, #00000000 25%) -50px 0, linear-gradient(315deg, #009587c2 25%, transparent 25%), linear-gradient(45deg, #1fb0a2bf 25%, #317d75c2 25%), url(../img/woods.jpg);
    // background-color: #41d0c2;
    background: linear-gradient(45deg, #4b4b4b54, #030303ed), url('../img/me-and-buie.jpg');
    background-position: center;
    background-size: cover;
    height: auto;
    @media(min-width: 768px) {
        background-attachment: fixed;
    }
    @media(min-width: 1368px) {
        padding: 0 0 5%;
        height: 100vh;
    }
    h2 {
        margin-top: 7%;
        @extend %sectionHead;
    }
    h2,
    p {
        font-family: $body-font;
        color: white;
        @media(min-width: 1368px) {
            width: 60%;
        }
    }
    p {
        font-size: 1rem;
        margin: 2rem 0;
        @media(min-width: 768px) {
            font-size: 1.2rem;
        }
    }
    h1 {
        font-family: $body-font;
        letter-spacing: 3px;
        font-size: 2.5rem;
        margin: 2rem 0 0.5rem;
        @media(min-width: 768px) {
            font-size: 5rem;
        }
    }
    h2,
    h1,
    p,
    .nav-link,
    .btn-default a {
        color: white;
    }
    .btn-default {
        background: #53A2BE;
        padding: 1rem;
        margin-top: 3%;
        border-radius: 0;
        box-shadow: 0 4px 10px #2e2e2e87;
        text-transform: uppercase;
        letter-spacing: 3px;
        &:hover {
            background: #488fa8;
        }
        a:hover {
            text-decoration: none;
        }
    }
}

.skills {
    background: #f7f7f7;
    text-align: center;
    padding: 5%;
    .card-deck {
        margin: 5% auto 10%;
    }
    .card {
        margin-bottom: 0;
        background: white;
        border: none;
        transition: all 0.3s ease-in-out;
        &:hover {
            @media (min-width: 960px) {
                    transform: translateY(-3px);
                    box-shadow: 0 1px 20px #eeeeee;
                }
        }
        h3 {
            @extend %sectionHead;
            margin: 1rem auto;
            color: #53A2BE;
        }
        img {
            width: 100%;
            max-width: 45px;
            margin: 2rem auto;
            display: block;
        }
        ul {
            text-align: center;
            padding-left: 0;
            li {
                list-style-type: none;
                color: gray;
                font-size: 0.9rem;
            }
        }
    }
}

.contact {
    background: #CCDBDC;
    padding: 5%;
    text-align: center;

}
