// Color Palette
$blue: #3e5c76;
$green: #d2fa97;
$gray: #d1e6e6;
$black: #000000;
$white: #f9f9f9;

//Fonts
$name: 'Kristi', cursive;
$slab: 'Roboto Slab', serif;
$sans: 'Roboto', sans-serif;

// Font styles
$light: 300;
$space: 5px;
$section-head: 3rem;

// Font Sizes
$text-small: 1rem;
$text-medium: 1.25rem;
$text-large: 2rem;
$text-XL: 2.5rem;
$text-XXL: 3rem;

// button
/* Shutter Out Horizontal - Courtesy Hover.css */
button {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: transparent;
  border: 3px solid $green;
  padding: 1rem;
  display: block;
  margin-top: 2rem;
  a {
      color: $white;
      font-weight: bold;
      letter-spacing: 3px;
      text-decoration: none;
      font-family: $slab;
  }
}
button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #d2fa971c;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
button.dark a {
    color: $black;
}
button:hover, button:focus, button:active {
  color: white;
}
button:hover:before, button:focus:before, button:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

// EXTENSIONS
%ul-standard {
    padding-left: 0;
    list-style-type: none;
    li {
        line-height: 25px;
        font-size: $text-medium;
        font-weight: bold;
    }
}
%li-boxes {
    display: inline-block;
    padding: 0.5rem;
    border: 2px solid $blue;
    margin: 5px;
    transition: all 0.3s;
    &:hover {
        transform: translateY(-3px);
    }
}
%links {
    color: $green;
    text-decoration: none;
}
// Columns

@media(min-width: 768px) {
    .col-6 {
        width: calc(100% / 2 - 1rem);
        vertical-align: top;
        display: inline-block;
        padding: 0.25rem;
    }
}

// Font import
@import url('https://fonts.googleapis.com/css?family=Dawning+of+a+New+Day|Kristi&display=swap');
// Basic Element Styles
body {
    font-family: $sans;
}
section h2 {
    font-family: $sans;
    font-size: $text-small;
    letter-spacing: $space;
    text-transform: uppercase;
}
section h2::after {
    content: '';
    display: block;
    height: 2px;
    width: 30%;
    background: $green;
    margin: 1rem 0;
}

h3, h4, h5, h6, button {
    font-family: $slab;
}
section h3 {
    font-size: $section-head;
    text-shadow: 1px 1px 5px #00000029;
}
blockquote {
    letter-spacing: $space;
    font-size: $text-medium;
}
section {
    height: 100vh;
    padding: 10%;
}
.hide {
    visibility: hidden;
}
p a,
li a {
    @extend %links;
}
// Detailed styles


header {
    // background: linear-gradient(to top, #0000006e, #000000a1);
    height: 100vh;
    position: relative;
	width: 100wh;
	height: 100vh;
	color: #fff;

    // Animated Gradient Effect Courtesy of Manuel Pinto. Codepen: https://codepen.io/P1N2O/pen/pyBNzX

    background: linear-gradient(-45deg, #202020e0, #898989cc, #d2fa97a1);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
    z-index: 9999999;

    @-webkit-keyframes Gradient {
    	0% {
    		background-position: 0% 50%
    	}
    	50% {
    		background-position: 100% 50%
    	}
    	100% {
    		background-position: 0% 50%
    	}
    }

    @-moz-keyframes Gradient {
    	0% {
    		background-position: 0% 50%
    	}
    	50% {
    		background-position: 100% 50%
    	}
    	100% {
    		background-position: 0% 50%
    	}
    }

    @keyframes Gradient {
    	0% {
    		background-position: 0% 50%
    	}
    	50% {
    		background-position: 100% 50%
    	}
    	100% {
    		background-position: 0% 50%
    	}
}

    .logo-container {
        position: absolute;
        top: 35%;
        text-align: center;
        color: white;
        width: 100%;
    }
    h1 {
        font-family: $name;
        font-size: 6rem;
        margin-bottom: 0;
        width: 100%;
        text-align: center;
        font-weight: bold;
        transform: rotateX(33deg);
        text-shadow: 1px 1px 5px #00000040;
    }
    p {
        letter-spacing: $space;
    }
}

.bio {
    background: #27374a;
    height: 70vh;
    color: white;
    padding: 15% 5% 0;
    text-align: center;
    .col-6 {
        text-align: left;
        vertical-align: top;
    }
    h3 {
        font-size: $text-XXL;
        margin-bottom: 0;
    }
    ul {
        @extend %ul-standard;
        li {
            margin: 0 0 1.5rem;
            padding-left: 1rem;
            transition: all 0.2s;
            border-left: 3px solid transparent;
            &:hover {
                border-left: 3px solid $green;
            }
        }
    }
    .col-6:first-of-type {
        max-width: 400px;
    }
    .col-6:first-of-type p {
        font-size: $text-medium;
        line-height: 30px;
    }
    .col-6 h4 {
        font-size: $text-large;
        margin-bottom: 0;
    }
    .col-6 h4 {
        color: $green;
        margin-top: 0;
    }
}

.skills {
    background: linear-gradient(to top, #27374afa, #d2fa978a);
    color: $white;
    position: relative;
    height: auto;
    overflow: hidden;
    h2 {
        margin-top: 0;
    }
    .skills-container {
        width: 70%;
        margin-left: 30%;
        padding: 0 0 5%;
        div {
            width: 70%;
            margin: auto;
        }
    }
    img {
        position: absolute;
        left:0;
        top: 0;
        width: 30%;
        height: 100%;
        overflow: hidden;
        object-fit: cover;
        clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);


    }
    ul li {
        @extend %li-boxes;
    }
}

.showcase {
    height: auto;
    background: $white;
    color: $black;
    text-align: center;
    @media(min-width: 768px) {
        .portfolio {
            text-align: left;
        }
    }
    h2 {
        margin-top: 0;
        &::after {
            margin: auto;
        }
    }
    & .card {
        background: white;
        padding: 5%;
        position: relative;
        box-shadow: 0px -1px 10px 0px #00000014;
        ul {
            @extend %ul-standard;
            li {
                @extend %li-boxes;
            }
        }
        img {
            width: 100%;
        }
        @media (min-width: 768px) {
            width: calc(100% / 3 + 2rem);
            height: 35vh;
            display: inline-flex;
            margin: 10px;
            overflow: hidden;
            figcaption,
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            figcaption {
                padding: 5%;
                color: $white;
                opacity: 0;
                transition: all 0.65s;
                text-align: left;
                width: 100%;
                height: 100%;
                h4 {
                    font-size: $text-large;
                }
                h4,
                ul {
                    width: 70%;
                }
            }
            img {
                object-fit: cover;
                width: 101%;
                height: 101%;
                transition: all 0.5s;
            }
            &:hover {
                figcaption {
                    opacity: 1;
                    background: #26374a;
                }
                img {
                    transform: scale(1.25);
                    filter: blur(2px)saturate(0);
                }
            }
        }
    }
    button.dark {
        margin: 5% auto;
    }
}

.contact {
    height: auto;
    background: linear-gradient(to top, #27374afa, #d2fa978a);
    color: $white;
    button {
        display: inline-block;
        margin-top: 0;
    }
}
