/* Shutter Out Horizontal - Courtesy Hover.css */
@import url("https://fonts.googleapis.com/css?family=Dawning+of+a+New+Day|Kristi&display=swap");
button {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: transparent;
  border: 3px solid #d2fa97;
  padding: 1rem;
  display: block;
  margin-top: 2rem;
}
button a {
  color: #f9f9f9;
  font-weight: bold;
  letter-spacing: 3px;
  text-decoration: none;
}

button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #d2fa971c;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

button.dark a {
  color: #000000;
}

button:hover, button:focus, button:active {
  color: white;
}

button:hover:before, button:focus:before, button:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.showcase .card figcaption ul {
  padding-left: 0;
  list-style-type: none;
}
.showcase .card figcaption ul li {
  line-height: 25px;
  font-size: 1.25rem;
  font-weight: bold;
}

.showcase .card figcaption ul li, .skills ul li {
  display: inline-block;
  padding: 0.5rem;
  border: 2px solid #3e5c76;
  margin: 5px;
  transition: all 0.3s;
}
.showcase .card figcaption ul li:hover, .skills ul li:hover {
  transform: translateY(-3px);
}

.col-6 {
  width: calc(100% / 2 - 1rem);
  vertical-align: top;
  display: inline-block;
  padding: 0.25rem;
}

body {
  font-family: "Roboto", sans-serif;
}

section h2 {
  font-family: "Kristi", cursive;
  font-size: 3rem;
}

section h2::after {
  content: "";
  display: block;
  height: 2px;
  width: 30%;
  background: #d2fa97;
  margin: 1rem 0;
}

h3, h4, h5, h6, button {
  font-family: "Roboto Slab", serif;
}

section h3 {
  font-size: 3rem;
}

blockquote {
  letter-spacing: 5px;
  font-size: 1.25rem;
}

section {
  height: 100vh;
  padding: 10%;
}

.hide {
  visibility: hidden;
}

header {
  background: linear-gradient(to top, #0000006e, #000000a1);
  height: 100vh;
  position: relative;
}
header .logo-container {
  position: absolute;
  top: 35%;
  text-align: center;
  color: white;
  width: 100%;
}
header h1 {
  font-family: "Kristi", cursive;
  font-size: 6rem;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  transform: rotateX(33deg);
}
header p {
  letter-spacing: 5px;
}

.bio {
  background: #27374a;
  height: 100%;
  color: white;
  text-align: center;
}
.bio .col-6 {
  text-align: left;
  vertical-align: text-top;
}
.bio h3 {
  font-size: 3rem;
  margin-bottom: 0;
}
.bio .col-6:first-of-type {
  max-width: 400px;
}
.bio .col-6:first-of-type p {
  font-size: 1.25rem;
  line-height: 30px;
}
.bio .col-6 h4 {
  font-size: 2rem;
  margin-bottom: 0;
}
.bio .col-6 h4 {
  color: #d2fa97;
  margin-top: 0;
}

.skills {
  background: #d1e6e6;
  position: relative;
  color: #000000;
  padding: 5% 0;
  height: auto;
}
.skills h2 {
  font-size: 3rem;
  margin-top: 0;
}
.skills .skills-container {
  width: 40%;
  margin-left: 51%;
  padding: 0 5% 5%;
}
.skills img {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  box-shadow: inset 1px 1px 1px 10000000px black;
}
.showcase {
  height: auto;
  background: #f9f9f9;
  color: #000000;
  text-align: center;
}
@media (min-width: 768px) {
  .showcase .portfolio {
    text-align: left;
  }
}
.showcase h2 {
  margin-top: 0;
}
.showcase h2::after {
  margin: auto;
}
.showcase .card {
  padding: 5%;
  position: relative;
  box-shadow: 0px -1px 10px 0px #00000029;
}
.showcase .card figcaption,
.showcase .card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.showcase .card figcaption {
  padding: 5%;
  color: #f9f9f9;
  opacity: 0;
  transition: all 0.65s;
  text-align: left;
  width: 100%;
}
.showcase .card figcaption h4 {
  font-size: 2rem;
}
.showcase .card figcaption h4,
.showcase .card figcaption ul {
  width: 70%;
}
.showcase .card img {
  object-fit: cover;
  width: 101%;
  height: 101%;
  transition: all 0.5s;
}
.showcase .card:hover figcaption {
  opacity: 1;
  background: #26374a;
}
.showcase .card:hover img {
  transform: scale(1.25);
  filter: blur(2px) saturate(0);
}
@media (min-width: 768px) {
  .showcase .card {
    height: 40vh;
    width: calc(100% / 3 + 2rem);
    display: inline-flex;
    margin: 10px;
    overflow: hidden;
  }
}
.showcase button.dark {
  margin: 5% auto;
}

.contact {
  height: auto;
  background: linear-gradient(to top, #0000006e, #000000a1);
  color: #f9f9f9;
}
.contact button {
  display: inline-block;
  margin-top: 0;
}

/*# sourceMappingURL=styles.css.map */
